/* -------- default ----------- */
body {
    position: relative;
}

html {
    height: 100%
    width: 100%
}

h1, h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a, nav-link {
    color: #021B79;
}

a:hover, a:active {
    color: #43C6AC;
}

/* Navigation Bar and Menu */

#icon-menu > a, #icon-menu > a:hover {
    color: #FFFFFF;
}

.navbar, .navbar-toggle {
    width: 100%;
    height: 50px;
}

.nav-link, .nav-link > a, .navlink > a:hover {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}

.navbar-collapse {
    text-align: center;
    background-color: transparent;
    padding-top: 35px;
}

/*
    Welcome Banner
 */

#welcome-banner-message {
    font-family: 'Nixie One', cursive;
    font-weight: lighter;
    color: #EDEEEF;
}

#welcome-banner-message > h1 {
    font-family: 'Nixie One', cursive;
    font-size: 100px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#welcome-banner-message > h3 {
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

/* --------- desktop screen ------------- */
@media screen and (min-width: 1024px) {
    .welcome-banner {
        height: 100%;
        padding-top: 255px;
        padding-bottom: 300px;
        text-align: center;
        background: url(../assets/header.jpeg) no-repeat center center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

/* -------- tablets----------- */
@media screen and (min-width: 768px) {
    .welcome-banner {
        height: 100%;
        padding-top: 255px;
        padding-bottom: 300px;
        text-align: center;
        background: url(../assets/header.jpeg) no-repeat center center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

/* --------- smartphone ----------- */
@media screen and (max-width: 767px) {
    .welcome-banner {
        height: 100%;
        padding-top: 255px;
        padding-bottom: 300px;
        background-size: cover;
        text-align: center;
        background: #43C6AC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #43C6AC, #191654);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

/*
    About Me
*/

.about-me {
    height: 75%;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    color: #000000;
    background: #FFFFFF;  /* fallback for old browsers */
}

.card {
    color: #000000;
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #EDEEEF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #EDEEEF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 40px;
}

#awards {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    color: #021B79;
}

/*
    Contact Me section
 */

.contact-me {
    text-align: center;
    color: #000000;
    height: 30%;
}

.contact-me > h2 {
    font-family: 'Nixie One', cursive;
    font-weight: lighter;
}

/* --------- desktop screen ------------- */
@media screen and (min-width: 1024px) {
    .parallax {
        background: url(../assets/header.jpeg) no-repeat center center;
        height: 30%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #FFFFFF;
        padding-top: 130px;
        padding-bottom: 100px;
    }

    #resume {
        background-color: #136F63;
        color: #FFFFFF;
    }

    #wait, #socialmedia {
        font-family: 'Nixie One', cursive;
        font-weight: lighter;
        color: #136F63;
    }

    #wait > b, #wait > h1, #socialmedia > h3, #socialmedia > a {
        font-family: 'Nixie One', cursive;
        font-weight: lighter;
        color: #FFFFFF;
    }
}

/* -------- tablets----------- */
@media screen and (min-width: 768px) {
    .parallax {
        background: url(../assets/header.jpeg) no-repeat center center;
        height: 30%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #FFFFFF;
        padding-top: 130px;
        padding-bottom: 100px;
    }

    #resume {
        background-color: #136F63;
        color: #FFFFFF;
    }

    #wait, #socialmedia {
        font-family: 'Nixie One', cursive;
        font-weight: lighter;
        color: #136F63;
    }

    #wait > b, #wait > h1, #socialmedia > h3, #socialmedia > a {
        font-family: 'Nixie One', cursive;
        font-weight: lighter;
        color: #FFFFFF;
    }
}

/* --------- smartphone ----------- */
@media screen and (max-width: 767px) {
    .parallax {
        height: 30%;
        background-size: cover;
        text-align: center;
        background: #43C6AC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #43C6AC, #191654);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        color: #FFFFFF;
        padding-top: 130px;
        padding-bottom: 100px;
    }

    #resume {
        background-color: #FFFFFF;
        color: #136F63;
    }

    #wait, #socialmedia {
        font-family: 'Nixie One', cursive;
        font-weight: lighter;
        color: #FFFFFF;
    }

    #wait > b, #wait > h1, #socialmedia > h3, #socialmedia > a {
        font-family: 'Nixie One', cursive;
        font-weight: lighter;
        color: #FFFFFF;
    }
}