<!-- Required meta tags always go first -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{{ site.title }}</title>

<!-- Material Design fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- FontAwesome (icons) -->
<script src="https://use.fontawesome.com/fbad914232.js"></script>

<!-- Bootstrap Material Design (bundled with Bootstrap CSS) -->
<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

<!-- Custom Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Nixie+One|Sanchez" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/main.css" rel="stylesheet">