<body>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="30">
<!-- Bootstrap ScrollSpy function -->

    <nav class="navbar navbar-static-top navbar-toggleable-sm bg-light">
        <div class="container-fluid" role="navigation" id="navigation">
            <a class="navbar-brand navbar-toggler pull-left" role="button" data-toggle="collapse" data-target="#icon-menu" aria-controls="#icon-menu" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../assets/techie_emoji.png" width="27" height="27" class="d-inline-block align-top">
            </a>

            <ul class="nav nav-inline nav-tabs pull-right">
                <li class="nav-item"><a href="#home" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="#aboutme" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#contactme" class="nav-link">Contact</a></li>
            </ul>

            <div class="collapse navbar-collapse" id="icon-menu" role="navigation">
                <div class="nav nav-pills">
                    <a class="nav-item nav-link" role="button" href="https://twitter.com/tifftso"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" alt="Twitter"></i></a><br>
                    <a class="nav-item nav-link" role="button" href="https://github.com/tiffanytso"><i class="fa fa-github fa-2x" aria-hidden="true" alt="GitHub"></i></a><br>
                    <a class="nav-item nav-link" role="button" href="https://linkedin.com/in/tiffany-tso/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" alt="LinkedIn"></i></a><br>
                    <a class="nav-item nav-link" role="button" href="https://instagram.com/suptiffany/"><i class="fa fa-instagram fa-2x" aria-hidden="true" alt="Instagram"></i></a><br>
                    <a class="nav-item nav-link" role="button" href="#"><i class="fa fa-book fa-2x" aria-hidden="true" alt="Blog"></i></a><br>
                </div>
            </div>
        </div>
    </nav>
<!--
                    <a class="nav-item nav-link" role="button" href="#banner"><i class="fa fa-home fa-2x" aria-hidden="true" alt="Home"></i></a>
                    <a class="nav-item nav-link" role="button" href="#aboutme"><i class="fa fa-user-circle fa-2x" aria-hidden="true" alt="About Me"></i></a>

                    <a class="nav-item nav-link disabled" role="button" href="#projects"><i class="fa fa-code fa-2x" aria-hidden="true" alt="Projects"></i></a>
-->
