<body data-spy="scroll" data-target=".navbar" data-offset="50">

<section id="home">
    <div class ="welcome-banner">
        <div class="container-fluid" role="banner">
            <div class="row"><div class="col-md-12">
                    <div id="welcome-banner-message">
                        <h3>Hello, my name is</h3><br>
                        <h1 class="display-1">Tiffany Tso</h1>
                    </div>
            </div></div>
            <!-- /.row, /.col-md-12-->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.welcome-banner -->
</section>

<section id="aboutme">
    <div class="about-me">
      <div class="container-fluid" role="contentinfo">
          <div class="row">
              <div class="col-sm-4">
                  <div class="about-me-message">
                      <h1>I'm a software engineer.</h1>
                        <p>
                        Looking for freelance opportunities where I <br>
                        can design and implement reliable and innovative <br>
                        software that makes the world a better place
                        </p>
                      <hr />
                      <p>Interested in philanthropy and animal welfare. Hobbies include running and gaming.</p>
                      <p>Houston raised, Austin educated, Bay Area bound</p>
                  </div>
              </div>
              <div class="col-sm-8">
                  <div class="card-deck">
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title">TwitterMood</h4>
                              <p class="card-text">Sentiment analysis search engine built with IBM Watson that shows how Twitter users feel about a topic in categories like joy, fear, and disgust</p>
                              <p class="card-text"><small class="text-muted">Winner @ 2017 UT WiCS (Women in Computer Science) Hacks</small></p>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title">The ATIIS</h4>
                              <p class="card-text">Image processing system for detecting wear on threading inserts. Increases efficiency, reduces tooling costs, and is a crucial first step to automating pipe threading</p>
                              <p class="card-text"><small class="text-muted">3rd Place Honors Project @ UT ECE Senior Design Competition</small></p>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title">The Wingman</h4>
                              <p class="card-text">DIY solution for cyclist safety and bike theft. Utilizes an on-board accelerometer, GSM and GPS modules to send the location of the bike during a theft or an accident</p>
                              <p class="card-text"><small class="text-muted">Best MSP432 Design and Leadership Choice Award @ DIY with Texas Instruments</small></p>
                          </div>
                      </div>
                  </div>
          </div>
      </div>
</section>

<section id="contactme">
    <div class="contact-me bg-light parallax">
        <div class="container-fluid" role="contentinfo">
            <div class="row">
                <div class="col-md-6">
                    <h2>wait!</h2>
                    <p>grab this before you go</p>
                    <button type="button" class="btn btn-info bmd-btn-fab">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <!-- TODO: add alt and download link to resume -->
                    </button>
                </div>
                <div class="col-md-6">
                    <a role="button" href="#"><i class="fa fa-github fa-2x"></i></a>
                    <a role="button" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a role="button" href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a role="button" href="#"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>