<section id="home">
    <div class ="welcome-banner">
        <div class="container-fluid" role="banner">
            <div class="row"><div class="col-md-12">
                    <div id="welcome-banner-message">
                        <h3>Hello, my name is</h3><br>
                        <h1>Tiffany Tso</h1>
                    </div>
            </div></div>
            <!-- /.row, /.col-md-12-->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.welcome-banner -->
</section>

<section id="aboutme">
    <div class="about-me bg-light">
      <div class="container-fluid" role="contentinfo">
          <div class="row">
              <div class="col-sm-4">
                  <div class="about-me-message">
                      <br><br>
                      <h1>I'm a software engineer</h1>
                      <hr/>
                        <p>
                        Looking for start-up opportunities where I  <br>
                        can design and implement reliable and innovative <br>
                        software that makes the world a better place.<br>
                        </p>
                  </div>
              </div>
              <div class="col-sm-8">
                  <div class="card-deck">
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title"><a href="https://twittermood.herokuapp.com">TwitterMood</a></h4>
                              <p class="card-text">Sentiment analysis search engine built with IBM Watson that shows how Twitter users feel about a topic in categories like disgust, fear, anger, and joy</p>
                              <p class="card-text"><small id="awards">Winner @ UT WiCS Hacks 2017</small></p>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title">ATIIS </h4>
                              <p class="card-text">Image processing system that inspects wear on threading inserts. Increases efficiency, reduces tooling costs, and plays a crucial first step to automating pipe manufacturing</p>
                              <p class="card-text"><small id="awards">Third Place Honors Project @ UT ECE Senior Design Competition 2016</small></p>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-block">
                              <h4 class="card-title"><a href="https://www.hackster.io/cycling-safer/the-wingman-has-your-back-184ef0?ref=search&ref_id=wingman&offset=0">The Wingman</a></h4>
                              <p class="card-text">DIY solution for cyclist safety and bike theft. Utilizes an on-board accelerometer, GSM and GPS modules to send the location of the bike during a theft or an accident</p>
                              <p class="card-text"><small id="awards">Leadership Choice Award and Best MSP432 Design @ DIY with Texas Instruments 2015</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>

<section id="contactme">
    <div class="contact-me bg-light parallax">
        <div class="container-fluid" role="contentinfo">
            <div class="row">
                <div class="col-md-6">
                    <div id="socialmedia">
                        <h3>find me online</h3>
                        <a role="button" href="https://github.com/tiffanytso"><i class="fa fa-github fa-2x"></i></a>
                        <a role="button" href="https://linkedin.com/in/tiffany-tso/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        <br>
                        <a role="button" href="https://twitter.com/tifftso"><i class="fa fa-twitter-square fa-2x"></i></a>
                        <a role="button" href="https://instagram.com/suptiffany/"><i class="fa fa-instagram fa-2x"></i></a>
                        <br><br>
                        <h3>contact me</h3>
                        <a role="button" href="mailto:thetiffanytso@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
                        <br><br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="wait">
                        <h1><b>hold up!</b></h1>
                        <a href="../assets/Resume_TiffanyTso_042017.pdf" download>
                            <button type="button" class="btn bmd-btn-fab" id="resume">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </button>
                        </a>
                        <h2>grab my resume <br>
                            before you go</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>